@use "variables";

footer {
    background-color: variables.$primary-color;
    margin-top: 15%;
    padding: 2rem 0 3rem 0;

    .footerLogos {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 20px 0;
    }

    .footerDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        img {
            width: 80px; 
        }

        a {
            padding-left: 30px;
            text-decoration: none;
            font-size: 14px;
            color: #fffd;
        }
    }
}